html {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	height: 100%;
	margin: 0;
	min-width: 1155px;
	padding: 0;
	width: 100%;
}

.clear-both {
	clear: both;
}

.coluna-centralizada {
	text-align: center;
}

.ui-growl-message {
	padding: 0 !important;
}

.ui-growl-message .ui-growl-title {
	font-size: 13px !important;;
	padding: 0 !important;;
}

.cabecalho {
	width: 100%;
	height: 40px;
}

.cabecalho .img-cabecalho {
	float: left;
}

.cabecalho .lb-cabecalho {
	float: left;
	margin-left: 7px;
	margin-top: 1px;
}

.conteudo {
	height: -webkit-calc(100% - 65px) !important;
	height: -moz-calc(100% - 65px) !important;
	height: calc(100% - 65px);
	margin-top: 25px;
	width: 100%;
}

.conteudo .panel-nodes {
	margin: 0 auto;
	width: 98%;
}

.conteudo .separador {
	background: gray;
	height: 2px;
	margin-top: 2px;
	width: 100%;
}

.conteudo .panel-nodes .ui-panel-title {
	margin: 0;
}

.conteudo .panel-nodes .ui-panel-title .img-panel-nodes {
	float: left;
}

.conteudo .panel-nodes .ui-panel-title .lb-panel-nodes {
	float: left;
	margin-left: 7px;
}

.conteudo .panel-nodes .tabela-nodes {
	margin: 20px auto 20px auto;
	width: 98%;
}

.conteudo .panel-nodes .tabela-nodes .link-cursor-default {
	cursor: default;
}

.conteudo .panel-nodes .tabela-nodes .ui-paginator-top {
	background: transparent;
	border: none;
}

.conteudo .panel-nodes .tabela-nodes .ui-paginator-bottom {
	background: transparent;
	border: none;
}

.conteudo .panel-nodes .tabela-nodes tr:hover {
	background: #EBEBEB;
}

.conteudo .panel-nodes .tabela-nodes .img-detalhes {
	height: 22px;
	width: 22px;
}

.conteudo .panel-nodes .tabela-nodes .img-indicador {
	height: 22px;
	width: 22px;
}

.conteudo .panel-nodes .panel-legenda {
	margin: 0 auto;
	width: 800px;
}

.conteudo .panel-nodes .panel-legenda .espaco {
	margin-top: 6px;
}

.conteudo .panel-nodes .panel-legenda .espacador {
	float: left;
	height: 2px;
	width: 30px;
}

.conteudo .panel-nodes .panel-legenda .plataforma {
	float: left;
	width: 100%;
}

.conteudo .panel-nodes .panel-legenda .box {
	float: left;
	margin-bottom: 4px;
}

.conteudo .panel-nodes .panel-legenda .box .imagem {
	float: left;
	height: 22px;
	width: 22px;
}

.conteudo .panel-nodes .panel-legenda .box .label {
	float: left;
	margin-left: 4px;
	margin-top: 1px;
}

.conteudo .panel-nodes .panel-legenda .indicadores {
	float: left;
	margin-top: 16px;
	width: 100%;
}

.conteudo .panel-detalhes-node {
	margin: 12px auto;
	width: 98%;
}

.conteudo .panel-detalhes-node .ui-panel-title .img-panel-detalhes-node
	{
	height: 24px;
	float: left;
	margin-top: -3px;
	width: 24px;
}

.conteudo .panel-detalhes-node .ui-panel-title .lb-panel-detalhes-node {
	float: left;
	margin-left: 7px;
	margin-top: -3px;
}

.conteudo .panel-detalhes-node .nome-node .item {
	font-weight: bold;
}

.conteudo .panel-detalhes-node .param-gerais {
	margin-top: 20px;
}

.conteudo .panel-detalhes-node .param-gerais .titulo .lb-param-gerais {
	font-weight: bold;
}

.conteudo .panel-detalhes-node .param-gerais .corpo {
	margin-top: 10px;
}

.conteudo .panel-detalhes-node .param-gerais .corpo .cima {
	border-bottom: 1px solid #aaaaaa;
	margin-bottom: 30px;
	margin-left: -webkit-calc(100% - 96%) !important;
	margin-left: -moz-calc(100% - 96%) !important;
	margin-left: calc(100% - 96%);
	padding-bottom: 10px;
	width: 92%;
}

.conteudo .panel-detalhes-node .param-gerais .corpo .cima .label {
	float: left;
	font-weight: bold;
	margin-top: 6px;
}

.conteudo .panel-detalhes-node .param-gerais .corpo .cima .calendar {
	float: left;
	margin-left: 9px;
}

.conteudo .panel-detalhes-node .param-gerais .corpo .cima .ui-selectonemenu
	{
	float: left;
	width: 230px !important;
	margin-left: 10px;
	margin-top: 4px;
}

.conteudo .panel-detalhes-node .param-gerais .corpo .esquerda {
	float: left;
	margin-left: -webkit-calc(100% - 96%) !important;
	margin-left: -moz-calc(100% - 96%) !important;
	margin-left: calc(100% - 96%);
	width: 46%;
}

.conteudo .panel-detalhes-node .param-gerais .corpo .direita {
	float: left;
	width: 46%;
}

.conteudo .panel-detalhes-node .param-gerais .corpo .sub-box {
	margin-left: 33px;
}

.conteudo .panel-detalhes-node .param-gerais .corpo .box .item {
	font-weight: bold;
}

.conteudo .panel-detalhes-node .param-gerais .corpo .box .sub-item {
	font-weight: bold;
}

.conteudo .panel-detalhes-node .param-gerais .corpo .box 
	.ui-datalist-content {
	border: 0 !important;
}

.conteudo .panel-detalhes-node .param-gerais .corpo .box 
	.ui-datalist-data {
	margin-bottom: 2px !important;
	margin-left: 33px !important;
	margin-top: 2px !important;
	padding: 0 !important;
}

.conteudo .panel-detalhes-node .param-gerais .corpo .box 
	.ui-datalist-empty-message {
	margin-bottom: 2px !important;
	margin-left: 33px !important;
	margin-top: 2px !important;
	padding: 0 !important;
}

.conteudo .panel-detalhes-node .param-especificos {
	margin-top: 20px;
}

.conteudo .panel-detalhes-node .param-especificos .titulo .lb-graficos-monitoramento
	{
	font-weight: bold;
}

.conteudo .panel-detalhes-node .param-especificos .corpo {
	margin-top: 10px;
}

.conteudo .panel-detalhes-node .param-especificos .corpo .cima {
	border-bottom: 1px solid #aaaaaa;
	margin-bottom: 30px;
	margin-left: -webkit-calc(100% - 96%) !important;
	margin-left: -moz-calc(100% - 96%) !important;
	margin-left: calc(100% - 96%);
	padding-bottom: 10px;
	width: 92%;
}

.conteudo .panel-detalhes-node .param-especificos .corpo .cima .label {
	float: left;
	font-weight: bold;
	margin-top: 6px;
}

.conteudo .panel-detalhes-node .param-especificos .corpo .cima .sub-label {
	float: left;
	margin-left: 6px;
	margin-top: 8px;
}

.conteudo .panel-detalhes-node .param-especificos .corpo .cima .calendar
	{
	float: left;
	margin-left: 9px;
}

.conteudo .panel-detalhes-node .param-especificos .corpo .container {
	margin: 0 auto;
	width: 92%;
}

.conteudo .panel-detalhes-node .param-especificos .corpo .titulo {
	
}

.conteudo .panel-detalhes-node .param-especificos .corpo .grafico {
	height: 470px;
}

.conteudo .panel-detalhes-node .param-especificos .corpo .grafico .grafico-container
	{
	height: 100%;
}