Ohai.plugin(:Monitor) do
  provides "monitor"

  collect_data(:default) do
	monitor Mash.new    

	monitor[:script_dir]		 	 = "<%= node["monitor_script_dir"] %>"
 	monitor[:script_max_exec] 	 	 = "<%= node["monitor_script_max_exec"] %>"
 	monitor[:script_nome_node]	 	 = "<%= node["monitor_script_nome_node"] %>"
 	monitor[:script_interface_disco] = "<%= node["monitor_script_interface_disco"] %>"
 	monitor[:script_roles_node]	 	 = <%= node["roles"] %>
 	monitor[:script_recipes_node] 	 = <%= node["recipes"] %>
 	monitor[:script_bd]				 = Mash.new
 	monitor[:script_bd][:hostaddr]	 = "<%= node["monitor_script_bd"]["hostaddr"] %>"
 	monitor[:script_bd][:port]		 = "<%= node["monitor_script_bd"]["port"] %>"
 	monitor[:script_bd][:dbname]	 = "<%= node["monitor_script_bd"]["dbname"] %>"
 	monitor[:script_bd][:user]		 = "<%= node["monitor_script_bd"]["user"] %>"
 	monitor[:script_bd][:password]	 = "<%= node["monitor_script_bd"]["password"] %>" 
  end
end