<!DOCTYPE html>
<html lang="#{localeBean.language}" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view contentType="text/html">
	<h:head>
		<title>#{msg.lbHome} - #{msg.lbTituloPaginaPrincipal}</title>

		<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />

		<link href="#{resource['image:favicon.ico']}" rel="shortcut icon"
			type="image/x-icon" />

		<h:outputStylesheet library="css" name="home.css" />

		<h:outputScript library="js" name="home.js" />
		<h:outputScript library="js" name="locale-primefaces.js" />

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("visualization", "1", {
				packages : [ "corechart" ]
			});
		</script>
	</h:head>

	<h:body>
		<h:panelGroup layout="block" styleClass="cabecalho">
			<p:toolbar>
				<f:facet name="left">
					<p:graphicImage url="#{resource['image:favicon.ico']}"
						styleClass="img-cabecalho" />

					<h:panelGroup layout="block" styleClass="lb-cabecalho">
						<h:outputLabel value="#{msg.lbTituloPaginaPrincipal}" />
					</h:panelGroup>

					<h:panelGroup layout="block" styleClass="clear-both" />
				</f:facet>
			</p:toolbar>
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="conteudo">
			<p:tooltip />
			
			<h:form id="formHome" prependId="false">
				<h:panelGroup id="polls" layout="block">
					<p:poll interval="240" listener="#{homeBean.pollConsultaNodes}"
						process="@this" update=":formHome:tabelaNodes" />
					<p:poll autoStart="false" interval="240"
						listener="#{homeBean.pollConsultaParamGeraisNode}" process="@this"
						update=":formHome:paramGerais" widgetVar="pollParamGeraisNode" />
				</h:panelGroup>

				<p:messages />

				<p:panel styleClass="panel-nodes">
					<f:facet name="header">
						<p:graphicImage url="#{resource['image:computador.png']}"
							styleClass="img-panel-nodes" />
						<h:panelGroup layout="block" styleClass="lb-panel-nodes">
							<h:outputLabel value="#{msg.lbNodes}" />
						</h:panelGroup>
					</f:facet>

					<ui:include src="/nodes.xhtml" />

					<ui:include src="/legendaIcones.xhtml" />
				</p:panel>

				<h:panelGroup id="detalhesNode" layout="block">
					<h:panelGroup id="hiddensInfGraficos" layout="block">
						<h:inputHidden id="hiddenDataGraficoMemoriaRAM"
							value="#{homeBean.dataGraficoMemoriaRAM}" />
						<h:inputHidden id="hiddenDataGraficoMemoriaSWAP"
							value="#{homeBean.dataGraficoMemoriaSWAP}" />
						<h:inputHidden id="hiddenDataGraficoHD"
							value="#{homeBean.dataGraficoHD}" />
						<h:inputHidden id="hiddenDataGraficoRede"
							value="#{homeBean.dataGraficoRede}" />
						<h:inputHidden id="hiddenMaxMemoriaRAM"
							value="#{homeBean.maxMemoriaRAM}" />
						<h:inputHidden id="hiddenMaxMemoriaSWAP"
							value="#{homeBean.maxMemoriaSWAP}" />
						<h:inputHidden id="hiddenMaxHD" value="#{homeBean.maxHD}" />
					</h:panelGroup>

					<p:panel rendered="#{homeBean.exibirDetalhesNode}"
						styleClass="panel-detalhes-node">
						<f:facet name="header">
							<p:graphicImage url="#{resource['image:detalhes.png']}"
								styleClass="img-panel-detalhes-node" />
							<h:panelGroup layout="block" styleClass="lb-panel-detalhes-node">
								<h:outputLabel value="#{msg.lbDetalhes}" />
							</h:panelGroup>
							<p:commandLink action="#{homeBean.fecharDetalhesNode}"
								oncomplete="listenerPoll(xhr, status, args);" process="@this"
								styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
								update=":formHome:polls, :formHome:tabelaNodes, :formHome:detalhesNode">
								<h:panelGroup styleClass="ui-icon ui-icon-closethick" />
							</p:commandLink>
						</f:facet>

						<h:panelGroup layout="block" styleClass="nome-node">
							<h:outputLabel styleClass="item" value="#{msg.lbNomeNode}: " />
							<h:outputLabel value="#{homeBean.nmNodeSelecionado}" />
						</h:panelGroup>

						<h:panelGroup id="paramGerais" layout="block"
							styleClass="param-gerais">
							<ui:include src="/nodeParamGerais.xhtml" />
						</h:panelGroup>

						<h:panelGroup layout="block" styleClass="param-especificos">
							<ui:include src="/nodeParamEspecificos.xhtml" />
						</h:panelGroup>
					</p:panel>
				</h:panelGroup>
			</h:form>
		</h:panelGroup>
	</h:body>
</f:view>
</html>