<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<p:panel header="#{msg.lbLegenda}" collapsed="true"
		styleClass="panel-legenda" toggleable="true" toggleSpeed="1000">
		<h:panelGroup layout="block" styleClass="plataforma">
			<h:outputLabel value="#{msg.lbPlataforma}" />
			<h:panelGroup layout="block" styleClass="separador" />

			<h:panelGroup layout="block" styleClass="espaco" />

			<h:panelGroup layout="block" styleClass="box">
				<p:graphicImage styleClass="imagem"
					url="#{resource['image:plat_indisponivel.png']}" />
				<h:outputLabel styleClass="label" value="#{msg.lbNaoDisponivel}" />
				<h:panelGroup layout="block" styleClass="clear-both" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="espacador" />

			<h:panelGroup layout="block" styleClass="box">
				<p:graphicImage styleClass="imagem"
					url="#{resource['image:plat_unixlinux.png']}" />
				<h:outputLabel styleClass="label" value="#{msg.lbUnixLinux}" />
				<h:panelGroup layout="block" styleClass="clear-both" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="espacador" />

			<h:panelGroup layout="block" styleClass="box">
				<p:graphicImage styleClass="imagem"
					url="#{resource['image:plat_windows.png']}" />
				<h:outputLabel styleClass="label" value="#{msg.lbWindows}" />
				<h:panelGroup layout="block" styleClass="clear-both" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="espacador" />

			<h:panelGroup layout="block" styleClass="box">
				<p:graphicImage styleClass="imagem"
					url="#{resource['image:plat_desconhecida.png']}" />
				<h:outputLabel styleClass="label" value="#{msg.lbDesconhecida}" />
				<h:panelGroup layout="block" styleClass="clear-both" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="clear-both" />
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="indicadores">
			<h:outputLabel value="#{msg.lbIndicadores}" />
			<h:panelGroup layout="block" styleClass="separador" />

			<h:panelGroup layout="block" styleClass="espaco" />

			<h:panelGroup layout="block" styleClass="box">
				<p:graphicImage styleClass="imagem"
					url="#{resource['image:consumo_indisponivel.png']}" />
				<h:outputLabel styleClass="label" value="#{msg.lbNaoDisponivel}" />
				<h:panelGroup layout="block" styleClass="clear-both" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="espacador" />

			<h:panelGroup layout="block" styleClass="box">
				<p:graphicImage styleClass="imagem"
					url="#{resource['image:consumo_baixo.png']}" />
				<h:outputLabel styleClass="label" value="#{msg.lbConsumoBaixo}" />
				<h:panelGroup layout="block" styleClass="clear-both" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="espacador" />

			<h:panelGroup layout="block" styleClass="box">
				<p:graphicImage styleClass="imagem"
					url="#{resource['image:consumo_medio.png']}" />
				<h:outputLabel styleClass="label" value="#{msg.lbConsumoMedio}" />
				<h:panelGroup layout="block" styleClass="clear-both" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="espacador" />

			<h:panelGroup layout="block" styleClass="box">
				<p:graphicImage styleClass="imagem"
					url="#{resource['image:consumo_alto.png']}" />
				<h:outputLabel styleClass="label" value="#{msg.lbConsumoAlto}" />
				<h:panelGroup layout="block" styleClass="clear-both" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="clear-both" />
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="clear-both" />
	</p:panel>
</ui:composition>