<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:panelGroup layout="block" styleClass="titulo">
		<h:outputLabel value="- #{msg.lbParametrosGerais}"
			styleClass="lb-param-gerais" />
		<h:panelGroup layout="block" styleClass="separador" />
	</h:panelGroup>

	<h:panelGroup layout="block" styleClass="corpo">
		<h:panelGroup layout="block" styleClass="cima">
			<h:panelGroup layout="block" styleClass="label">
				<h:outputLabel value="#{msg.lbFiltroLeituras}:" />
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="calendar">
				<p:calendar locale="#{localeBean.locale}" pattern="dd/MM/yyyy"
					readonlyInput="true" showOn="both"
					timeZone="#{localeBean.timeZone}"
					value="#{homeBean.dtLeituraParamGeraisFiltro}">
					<p:ajax event="dateSelect"
						listener="#{homeBean.consultarListaLeiturasParamGeraisPorDataVisao}"
						process="@this" update=":formHome:paramGerais" />
				</p:calendar>
			</h:panelGroup>

			<p:selectOneMenu
				disabled="#{homeBean.nenhumaLeituraParamGeraisEncontrada}"
				value="#{homeBean.idLeituraParamGeraisSelecionada}">
				<f:selectItems value="#{homeBean.listaLeiturasParamGeraisFiltro}" />
				<p:ajax event="change"
					listener="#{homeBean.consultarParamGeraisNodePorLeitura}"
					process="@this" update=":formHome:paramGerais" />
			</p:selectOneMenu>

			<h:panelGroup layout="block" styleClass="clear-both" />
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="esquerda">
			<h:panelGroup layout="block" styleClass="box">
				<h:outputLabel styleClass="item"
					value="#{msg.lbNomeNode} (#{msg.lbSO}): " />
				<h:outputLabel
					value="#{homeBean.paramGeraisNodeSelecionado.dsNomeCompSOVisao}" />
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="box">
				<h:outputLabel styleClass="item" value="#{msg.lbFQDN}: " />
				<h:outputLabel
					value="#{homeBean.paramGeraisNodeSelecionado.dsFQDNVisao}" />
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="box">
				<h:outputLabel styleClass="item" value="#{msg.lbPlataforma}" />

				<h:panelGroup layout="block" styleClass="sub-box">
					<h:outputLabel styleClass="sub-item" value="#{msg.lbNome}: " />
					<h:outputLabel
						value="#{homeBean.paramGeraisNodeSelecionado.dsPlatVisao}" />
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="sub-box">
					<h:outputLabel styleClass="sub-item" value="#{msg.lbVersao}: " />
					<h:outputLabel
						value="#{homeBean.paramGeraisNodeSelecionado.dsPlatVersaoVisao}" />
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="sub-box">
					<h:outputLabel styleClass="sub-item" value="#{msg.lbFamilia}: " />
					<h:outputLabel
						value="#{homeBean.paramGeraisNodeSelecionado.dsPlatFamiliaVisao}" />
				</h:panelGroup>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="box">
				<h:outputLabel styleClass="item" value="#{msg.lbKernel}" />

				<h:panelGroup layout="block" styleClass="sub-box">
					<h:outputLabel styleClass="sub-item" value="#{msg.lbNome}: " />
					<h:outputLabel
						value="#{homeBean.paramGeraisNodeSelecionado.dsKernVisao}" />
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="sub-box">
					<h:outputLabel styleClass="sub-item" value="#{msg.lbVersao}: " />
					<h:outputLabel
						value="#{homeBean.paramGeraisNodeSelecionado.dsKernVersaoVisao}" />
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="sub-box">
					<h:outputLabel styleClass="sub-item" value="#{msg.lbArquitetura}: " />
					<h:outputLabel
						value="#{homeBean.paramGeraisNodeSelecionado.dsKernArquiteturaVisao}" />
				</h:panelGroup>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="box">
				<h:outputLabel styleClass="item" value="#{msg.lbDisco}" />

				<h:panelGroup layout="block" styleClass="sub-box">
					<h:outputLabel styleClass="sub-item" value="#{msg.lbInterface}: " />
					<h:outputLabel
						value="#{homeBean.paramGeraisNodeSelecionado.dsInterfDiscoVisao}" />
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="sub-box">
					<h:outputLabel styleClass="sub-item"
						value="#{msg.lbSistemaArquivos}: " />
					<h:outputLabel
						value="#{homeBean.paramGeraisNodeSelecionado.dsSistArquivDiscoVisao}" />
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="direita">
			<h:panelGroup layout="block" styleClass="box">
				<h:outputLabel styleClass="item" value="#{msg.lbRede}" />

				<h:panelGroup layout="block" styleClass="sub-box">
					<h:outputLabel styleClass="sub-item" value="#{msg.lbInterface}: " />
					<h:outputLabel
						value="#{homeBean.paramGeraisNodeSelecionado.dsInterfRedeVisao}" />
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="sub-box">
					<h:outputLabel styleClass="sub-item" value="#{msg.lbEnderecoMAC}: " />
					<h:outputLabel
						value="#{homeBean.paramGeraisNodeSelecionado.dsMacAddressVisao}" />
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="sub-box">
					<h:outputLabel styleClass="sub-item"
						value="#{msg.lbEnderecoIPV4}: " />
					<h:outputLabel
						value="#{homeBean.paramGeraisNodeSelecionado.dsIpAddressVisao}" />
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="sub-box">
					<h:outputLabel styleClass="sub-item"
						value="#{msg.lbEnderecoIPV6}: " />
					<h:outputLabel
						value="#{homeBean.paramGeraisNodeSelecionado.dsIp6AddressVisao}" />
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="sub-box">
					<h:outputLabel styleClass="sub-item" value="#{msg.lbDominio}: " />
					<h:outputLabel
						value="#{homeBean.paramGeraisNodeSelecionado.dsDominioVisao}" />
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="sub-box">
					<h:outputLabel styleClass="sub-item"
						value="#{msg.lbGrupoTrabalho}: " />
					<h:outputLabel
						value="#{homeBean.paramGeraisNodeSelecionado.dsGrupTrabVisao}" />
				</h:panelGroup>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="box">
				<h:outputLabel styleClass="item" value="#{msg.lbQuantidadeCPUs}: " />
				<h:outputLabel
					value="#{homeBean.paramGeraisNodeSelecionado.dsTotalCpusVisao}" />
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="box">
				<h:outputLabel styleClass="item"
					value="#{msg.lbLingProgDisponiveis}: " />
				<p:dataList itemType="none" emptyMessage="#{msg.lbNaoDisponivel}"
					value="#{homeBean.paramGeraisNodeSelecionado.dsLingProgDispVisao}"
					var="lingProg">
					<h:outputLabel value="- #{lingProg}" />
				</p:dataList>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="box">
				<h:outputLabel styleClass="item" value="#{msg.lbTempoLigado}: " />
				<h:outputLabel
					value="#{homeBean.paramGeraisNodeSelecionado.dsUptimeSegVisao}" />
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="box">
				<h:outputLabel styleClass="item" value="#{msg.lbVersaoChef}: " />
				<h:outputLabel
					value="#{homeBean.paramGeraisNodeSelecionado.dsVersaoChefVisao}" />
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="box">
				<h:outputLabel styleClass="item" value="#{msg.lbVersaoOhai}: " />
				<h:outputLabel
					value="#{homeBean.paramGeraisNodeSelecionado.dsVersaoOhaiVisao}" />
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="box">
				<h:outputLabel styleClass="item" value="#{msg.lbRoles}: " />
				<p:dataList itemType="none" emptyMessage="#{msg.lbNaoDisponivel}"
					value="#{homeBean.paramGeraisNodeSelecionado.dsRolesVisao}"
					var="role">
					<h:outputLabel value="- #{role}" />
				</p:dataList>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="box">
				<h:outputLabel styleClass="item" value="#{msg.lbRecipes}: " />
				<p:dataList itemType="none" emptyMessage="#{msg.lbNaoDisponivel}"
					value="#{homeBean.paramGeraisNodeSelecionado.dsRecipesVisao}"
					var="recipe">
					<h:outputLabel value="- #{recipe}" />
				</p:dataList>
			</h:panelGroup>
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="clear-both" />
	</h:panelGroup>
</ui:composition>