<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:panelGroup layout="block" styleClass="titulo">
		<h:outputLabel value="- #{msg.lbGraficosMonitoramento}"
			styleClass="lb-graficos-monitoramento" />
		<h:panelGroup layout="block" styleClass="separador" />
	</h:panelGroup>

	<h:panelGroup layout="block" styleClass="corpo">
		<h:panelGroup layout="block" styleClass="cima">
			<h:panelGroup layout="block" styleClass="label">
				<h:outputLabel value="#{msg.lbFiltroLeituras}:" />
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="calendar">
				<p:calendar locale="#{localeBean.locale}" pattern="dd/MM/yyyy HH:mm"
					readonlyInput="true" showOn="both"
					timeZone="#{localeBean.timeZone}"
					value="#{homeBean.dtInicioLeituraParamEspecifFiltro}">
					<p:ajax event="dateSelect"
						oncomplete="desenharGraficoMemoriaRam(); desenharGraficoMemoriaSwap(); desenharGraficoHD(); desenharGraficoRede();"
						listener="#{homeBean.consultarParamEspecificosPorData}"
						process="@this" update=":formHome:hiddensInfGraficos" />
				</p:calendar>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="sub-label">
				<h:outputLabel value="#{msg.lbAte}" />
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="calendar">
				<p:calendar locale="#{localeBean.locale}" pattern="dd/MM/yyyy HH:mm"
					readonlyInput="true" showOn="both"
					timeZone="#{localeBean.timeZone}"
					value="#{homeBean.dtFinalLeituraParamEspecifFiltro}">
					<p:ajax event="dateSelect"
						oncomplete="desenharGraficoMemoriaRam(); desenharGraficoMemoriaSwap(); desenharGraficoHD(); desenharGraficoRede();"
						listener="#{homeBean.consultarParamEspecificosPorData}"
						process="@this" update=":formHome:hiddensInfGraficos" />
				</p:calendar>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="clear-both" />
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="container">
			<h:panelGroup layout="block" styleClass="titulo">
				<h:outputLabel value="#{msg.lbMemoriaRAM}" />
				<h:panelGroup layout="block" styleClass="separador" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="grafico">
				<h:panelGroup id="grafico-memoria-ram" layout="block"
					styleClass="grafico-container">
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="container">
			<h:panelGroup layout="block" styleClass="titulo">
				<h:outputLabel value="#{msg.lbMemoriaSWAP}" />
				<h:panelGroup layout="block" styleClass="separador" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="grafico">
				<h:panelGroup id="grafico-memoria-swap" layout="block"
					styleClass="grafico-container">
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>

		<h:panelGroup layout="block" styleClass="container">
			<h:panelGroup layout="block" styleClass="titulo">
				<h:outputLabel value="#{msg.lbDisco}" />
				<h:panelGroup layout="block" styleClass="separador" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="grafico">
				<h:panelGroup id="grafico-hd" layout="block"
					styleClass="grafico-container">
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>


		<h:panelGroup layout="block" styleClass="container">
			<h:panelGroup layout="block" styleClass="titulo">
				<h:outputLabel value="#{msg.lbTrafegoRede}" />
				<h:panelGroup layout="block" styleClass="separador" />
			</h:panelGroup>
			<h:panelGroup layout="block" styleClass="grafico">
				<h:panelGroup id="grafico-rede" layout="block"
					styleClass="grafico-container">
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
</ui:composition>