<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<p:dataTable id="tabelaNodes" dataLocale="#{localeBean.locale}"
		emptyMessage="#{msg.msgNenhumRegistroEncontrado}" paginator="true"
		paginatorAlwaysVisible="false" rows="15" styleClass="tabela-nodes"
		value="#{homeBean.listaNodes}" var="node">
		<p:column>
			<f:facet name="header">
				<h:outputLabel value="#{msg.lbNomeNode}" />
			</f:facet>

			<h:outputLabel value="#{node.nmNode}" />
		</p:column>

		<p:column styleClass="coluna-centralizada" width="95">
			<f:facet name="header">
				<h:outputLabel value="#{msg.lbPlataforma}" />
			</f:facet>

			<p:graphicImage rendered="#{node.paramGerais.flPlataforma eq 0}"
				styleClass="img-indicador" title="#{msg.lbNaoDisponivel}"
				url="#{resource['image:plat_indisponivel.png']}" />
			<p:graphicImage rendered="#{node.paramGerais.flPlataforma eq 1}"
				styleClass="img-indicador" title="#{msg.lbWindows}"
				url="#{resource['image:plat_windows.png']}" />
			<p:graphicImage rendered="#{node.paramGerais.flPlataforma eq 2}"
				styleClass="img-indicador" title="#{msg.lbUnixLinux}"
				url="#{resource['image:plat_unixlinux.png']}" />
			<p:graphicImage rendered="#{node.paramGerais.flPlataforma eq 3}"
				styleClass="img-indicador" title="#{msg.lbDesconhecida}"
				url="#{resource['image:plat_desconhecida.png']}" />
		</p:column>

		<p:column styleClass="coluna-centralizada" width="35">
			<f:facet name="header">
				<h:outputLabel value="#{msg.lbCPU}" />
			</f:facet>

			<p:graphicImage
				rendered="#{node.paramEspecificos.flIndicadorUsoCPU eq 0}"
				styleClass="img-indicador" title="#{msg.lbNaoDisponivel}"
				url="#{resource['image:consumo_indisponivel.png']}" />
			<p:graphicImage
				rendered="#{node.paramEspecificos.flIndicadorUsoCPU eq 1}"
				styleClass="img-indicador"
				title="#{msg.lbConsumoBaixo} [#{node.paramEspecificos.dsCPUPorcUso}#{msg.lbSimboloPorc} - #{node.paramEspecificos.dtRegistroVisao}]"
				url="#{resource['image:consumo_baixo.png']}" />
			<p:graphicImage
				rendered="#{node.paramEspecificos.flIndicadorUsoCPU eq 2}"
				styleClass="img-indicador"
				title="#{msg.lbConsumoMedio} [#{node.paramEspecificos.dsCPUPorcUso}#{msg.lbSimboloPorc} - #{node.paramEspecificos.dtRegistroVisao}]"
				url="#{resource['image:consumo_medio.png']}" />
			<p:graphicImage
				rendered="#{node.paramEspecificos.flIndicadorUsoCPU eq 3}"
				styleClass="img-indicador"
				title="#{msg.lbConsumoAlto} [#{node.paramEspecificos.dsCPUPorcUso}#{msg.lbSimboloPorc} - #{node.paramEspecificos.dtRegistroVisao}]"
				url="#{resource['image:consumo_alto.png']}" />
		</p:column>

		<p:column styleClass="coluna-centralizada" width="125">
			<f:facet name="header">
				<h:outputLabel value="#{msg.lbMemoriaRAM}" />
			</f:facet>

			<h:outputLink
				rendered="#{node.paramEspecificos.flIndicadorUsoMemRAM eq 0}"
				styleClass="link-cursor-default" title="#{msg.lbNaoDisponivel}">
				<p:graphicImage styleClass="img-indicador"
					url="#{resource['image:consumo_indisponivel.png']}" />
			</h:outputLink>
			<h:outputLink
				rendered="#{node.paramEspecificos.flIndicadorUsoMemRAM eq 1}"
				styleClass="link-cursor-default"
				title="#{msg.lbConsumoBaixo} [#{node.paramEspecificos.quantidadeMemRAMUso} #{msg.lbMiB} - #{node.paramEspecificos.dtRegistroVisao}]">
				<p:graphicImage styleClass="img-indicador"
					url="#{resource['image:consumo_baixo.png']}" />
			</h:outputLink>
			<h:outputLink
				rendered="#{node.paramEspecificos.flIndicadorUsoMemRAM eq 2}"
				styleClass="link-cursor-default"
				title="#{msg.lbConsumoMedio} [#{node.paramEspecificos.quantidadeMemRAMUso} #{msg.lbMiB} - #{node.paramEspecificos.dtRegistroVisao}]">
				<p:graphicImage styleClass="img-indicador"
					url="#{resource['image:consumo_medio.png']}" />
			</h:outputLink>
			<h:outputLink
				rendered="#{node.paramEspecificos.flIndicadorUsoMemRAM eq 3}"
				styleClass="link-cursor-default"
				title="#{msg.lbConsumoAlto} [#{node.paramEspecificos.quantidadeMemRAMUso} #{msg.lbMiB} - #{node.paramEspecificos.dtRegistroVisao}]">
				<p:graphicImage styleClass="img-indicador"
					url="#{resource['image:consumo_alto.png']}" />
			</h:outputLink>
		</p:column>

		<p:column styleClass="coluna-centralizada" width="135">
			<f:facet name="header">
				<h:outputLabel value="#{msg.lbMemoriaSWAP}" />
			</f:facet>

			<p:graphicImage
				rendered="#{node.paramEspecificos.flIndicadorUsoMemSWAP eq 0}"
				styleClass="img-indicador" title="#{msg.lbNaoDisponivel}"
				url="#{resource['image:consumo_indisponivel.png']}" />
			<p:graphicImage
				rendered="#{node.paramEspecificos.flIndicadorUsoMemSWAP eq 1}"
				styleClass="img-indicador"
				title="#{msg.lbConsumoBaixo} [#{node.paramEspecificos.quantidadeMemSWAPUso} #{msg.lbMiB} - #{node.paramEspecificos.dtRegistroVisao}]"
				url="#{resource['image:consumo_baixo.png']}" />
			<p:graphicImage
				rendered="#{node.paramEspecificos.flIndicadorUsoMemSWAP eq 2}"
				styleClass="img-indicador"
				title="#{msg.lbConsumoMedio} [#{node.paramEspecificos.quantidadeMemSWAPUso} #{msg.lbMiB} - #{node.paramEspecificos.dtRegistroVisao}]"
				url="#{resource['image:consumo_medio.png']}" />
			<p:graphicImage
				rendered="#{node.paramEspecificos.flIndicadorUsoMemSWAP eq 3}"
				styleClass="img-indicador"
				title="#{msg.lbConsumoAlto} [#{node.paramEspecificos.quantidadeMemSWAPUso} #{msg.lbMiB} - #{node.paramEspecificos.dtRegistroVisao}]"
				url="#{resource['image:consumo_alto.png']}" />
		</p:column>

		<p:column styleClass="coluna-centralizada" width="50">
			<f:facet name="header">
				<h:outputLabel value="#{msg.lbDisco}" />
			</f:facet>

			<p:graphicImage
				rendered="#{node.paramEspecificos.flIndicadorUsoDisco eq 0}"
				styleClass="img-indicador" title="#{msg.lbNaoDisponivel}"
				url="#{resource['image:consumo_indisponivel.png']}" />
			<p:graphicImage
				rendered="#{node.paramEspecificos.flIndicadorUsoDisco eq 1}"
				styleClass="img-indicador"
				title="#{msg.lbConsumoBaixo} [#{node.paramEspecificos.dsDiscoPorcUso}#{msg.lbSimboloPorc} - #{node.paramEspecificos.dtRegistroVisao}]"
				url="#{resource['image:consumo_baixo.png']}" />
			<p:graphicImage
				rendered="#{node.paramEspecificos.flIndicadorUsoDisco eq 2}"
				styleClass="img-indicador"
				title="#{msg.lbConsumoMedio} [#{node.paramEspecificos.dsDiscoPorcUso}#{msg.lbSimboloPorc} - #{node.paramEspecificos.dtRegistroVisao}]"
				url="#{resource['image:consumo_medio.png']}" />
			<p:graphicImage
				rendered="#{node.paramEspecificos.flIndicadorUsoDisco eq 3}"
				styleClass="img-indicador"
				title="#{msg.lbConsumoAlto} [#{node.paramEspecificos.dsDiscoPorcUso}#{msg.lbSimboloPorc} - #{node.paramEspecificos.dtRegistroVisao}]"
				url="#{resource['image:consumo_alto.png']}" />
		</p:column>

		<p:column styleClass="coluna-centralizada" width="75">
			<f:facet name="header">
				<h:outputLabel value="#{msg.lbDetalhes}" />
			</f:facet>

			<p:commandLink action="#{homeBean.consultarDetalhesNode}"
				oncomplete="listenerPoll(xhr, status, args);" process="@this"
				update=":formHome:polls, :formHome:detalhesNode">
				<p:graphicImage styleClass="img-detalhes"
					title="#{msg.lbExibirDetalhesNode}"
					url="#{resource['image:detalhes.png']}" />
			</p:commandLink>
		</p:column>

		<p:column styleClass="coluna-centralizada" width="220">
			<f:facet name="header">
				<h:outputLabel value="#{msg.lbDataRegistro}" />
			</f:facet>

			<h:outputLabel value="#{node.dtRegistro}">
				<f:convertDateTime locale="#{localeBean.locale}"
					pattern="dd/MM/yyyy HH:mm:ss" timeZone="#{localeBean.timeZone}" />
			</h:outputLabel>
		</p:column>

		<p:column styleClass="coluna-centralizada" width="65">
			<f:facet name="header">
				<h:outputLabel value="#{msg.lbStatus}" />
			</f:facet>

			<h:outputLabel converter="conversorStatus" value="#{node.flAtivo}" />
		</p:column>
	</p:dataTable>
</ui:composition>